/*
 * Customizer CSS
 *
 * Adjusts styling for theme option controls in the Customizer
 *
 * @package Poseidon
 */

.customize-control-checkbox {
	margin-bottom: 4px;
}

#customize-control-poseidon_theme_options-post_layout_archives,
#customize-control-poseidon_theme_options-post_layout_single,
#customize-control-poseidon_theme_options-latest_posts_title,
#customize-control-poseidon_theme_options-post_content,
#customize-control-poseidon_theme_options-single_posts_headline,
#customize-control-poseidon_theme_options-postmeta_headline,
#customize-control-poseidon_theme_options-footermeta_headline,
#customize-control-poseidon_theme_options-slider_category,
#customize-control-poseidon_theme_options-slider_limit,
#customize-control-poseidon_theme_options-slider_animation {
	margin-top: 16px;
}

#customize-control-poseidon_theme_options-sticky_header_title,
#customize-control-poseidon_theme_options-single_posts_headline,
#customize-control-poseidon_theme_options-postmeta_headline,
#customize-control-poseidon_theme_options-footermeta_headline,
#customize-control-poseidon_theme_options-post_image_single_header,
#customize-control-poseidon_theme_options-slider_activate {
	margin-bottom: 0;
}

#customize-control-poseidon_theme_options-upgrade div {
	margin: 4px 0 32px;
}
#customize-control-poseidon_theme_options-upgrade div .customize-control-title {
	margin-bottom: 4px;
}
