// Theme Width.
$themeWidth: 1440px;

// Content Width.
$contentWidth: 880px;
$wideBlockWidth: 1120px;

// Fullwidth Template.
$contentFullwidth: 1280px;
$wideBlockFullwidth: 1440px;

// Theme Colors
$themeColors: (

	// Block Editor Colors
	--primary-color                  : #c9493b,
	--secondary-color                : #e36355,
	--accent-color                   : #078896,
	--highlight-color                : #5bb021,
	--light-gray-color               : #e4e4e4,
	--gray-color                     : #848484,
	--dark-gray-color                : #242424,

	// Text Colors
	--text-color                     : #404040,
	--medium-text-color              : #666,
	--light-text-color               : #999,
	--dark-border-color              : #404040,
	--medium-border-color            : #ccc,
	--light-border-color             : #ddd,

	// Links and Buttons
	--link-color                     : #22aadd,
	--link-hover-color               : #404040,
	--button-color                   : #22aadd,
	--button-text-color              : #fff,
	--button-hover-color             : #404040,
	--button-hover-text-color        : #fff,

	// Page
	--page-background-color          : #fff,
	--page-border-color              : rgba(0, 0, 0, 0.12),
	--header-background-color        : #fff,
	--site-title-color               : #404040,
	--site-title-hover-color         : #22aadd,

	// Navigation
	--navi-color                     : #404040,
	--navi-hover-color               : #22aadd,
	--navi-border-color              : #ccc,

	// Posts
	--title-color                    : #404040,
	--title-hover-color              : #22aadd,

	// Widgets
	--widget-title-color             : #111133,
	--widget-title-hover-color       : #4477aa,
	--widget-title-border-color      : #111133,

	// Footer
	--footer-background-color        : #fff,
);

// Theme Fonts
$baseFont: "Ubuntu", arial, helvetica, sans-serif;
$titleFont: "Raleway", arial, helvetica, sans-serif;
$themeFonts: (
	--text-font        : $baseFont,
	--title-font       : $titleFont,
	--navi-font        : $titleFont,
	--widget-title-font: $titleFont,
);

// Font Weight.
$fontWeight: (
	--title-font-weight: bold,
	--navi-font-weight : bold,
	--widget-title-font-weight: bold,
);

// Text Transform.
$textTransform: (
	--title-text-transform: none,
	--navi-text-transform: uppercase,
	--widget-title-text-transform: uppercase,
);

// Line Height.
$lineHeight: (
	--text-line-height : 1.5,
	--title-line-height : 1.5,
);
