.type-post,
.type-page,
.type-attachment {
	margin: 0 0 3em 0;
	max-width: 100%;
}

.page-title,
.entry-title {
	display: inline;
	margin: 0;
	padding: 0;
	@include color(--title-color);
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	@include font-size(40);
	@include font-family(--title-font);
	@include font-weight(--title-font-weight);
	@include text-transform(--title-text-transform);
	@include line-height(--title-line-height);
}

.entry-title a:link,
.entry-title a:visited {
	@include color(--title-color);
	text-decoration: none;
	transition: all 0.2s ease;
}

.entry-title a:hover,
.entry-title a:active {
	@include color(--title-hover-color);
}

.type-post .wp-post-image {
	margin: 0 0 0.5em;
}

.entry-content {
	font-size: 17px;
	font-size: 1.0625rem;
}

.entry-content a {
	text-decoration: underline;
}

.entry-content > *:first-child {
	margin-top: 1.5em;
}

/* Small Post Layout */
.post-layout-small .post-wrapper .type-post,
.post-layout-small .infinite-wrap .type-post {
	display: flex;

	.post-thumbnail-small {
		width: 42%;
	}

	.wp-post-image {
		margin: 0.3em 0 0;
	}

	.post-content {
		width: 58%;
		margin-left: 1.5em;
	}

	.entry-title {
		@include font-size(28);
	}

	.entry-content {
		@include font-size(16);
	}

	.entry-excerpt p {
		margin-bottom: 1em;
	}
}

/* Page Links | wp_link_pages() */
.page-links {
	margin: 0 0 1.5em;
	word-spacing: 0.75em;
	font-weight: bold;
}
