/* Entry Meta */
.entry-meta {
	margin: 0.5em 0.2em 0;
	@include color(--light-text-color);
	text-transform: uppercase;
	font-size: 13px;
	font-size: 0.8125rem;
}

.entry-meta a:link,
.entry-meta a:visited {
	@include color(--light-text-color);
}

.entry-meta a:hover,
.entry-meta a:active {
	@include color(--medium-text-color);
}

.entry-meta span::after {
	display: inline-block;
	@include color(--light-text-color);
	margin: 0 0.5rem;
	content: "\2022";
	font-size: 15px;
	line-height: 1;
	vertical-align: middle;
}

.entry-meta span:last-child::after {
	margin: 0;
	content: "";
}

/* Hide post meta if they are deactivated in settings */
body.date-hidden .type-post .entry-meta .meta-date,
body.author-hidden .type-post .entry-meta .meta-author,
body.categories-hidden .type-post .entry-meta .meta-category,
body.date-hidden .post-slider .entry-meta .meta-date,
body.author-hidden .post-slider .entry-meta .meta-author,
body.categories-hidden .post-slider .entry-meta .meta-category {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
}

body.author-hidden.categories-hidden .type-post .entry-meta .meta-date::after,
body.categories-hidden .type-post .entry-meta .meta-author::after,
body.author-hidden .widget-magazine-posts .type-post .entry-meta .meta-date::after,
body.author-hidden.categories-hidden .post-slider .entry-meta .meta-date::after,
body.categories-hidden .post-slider .entry-meta .meta-author::after,
body.author-hidden .widget-magazine-posts .post-slider .entry-meta .meta-date::after {
	display: none;
}

body.date-hidden.author-hidden.categories-hidden .content-area .type-post .entry-meta,
body.date-hidden.author-hidden.categories-hidden .post-slider .entry-meta {
	display: none;
}

/* Entry Tags */
.entry-tags {
	clear: both;
	margin: 0 0 2em;
}

.entry-tags .meta-tags {
	display: block;
	margin: 0;
	font-size: 14px;
	font-size: 0.875rem;
}

.entry-tags .meta-tags a {
	display: inline-block;
	float: left;
	margin: 0 2px 2px 0;
	padding: 0.2em 0.5em 0.3em;
	@include background(--light-background-color);
	text-decoration: none;
}

.entry-tags .meta-tags a:link,
.entry-tags .meta-tags a:visited {
	@include color(--medium-text-color);
	transition: all 0.2s ease;
}

.entry-tags .meta-tags a:hover,
.entry-tags .meta-tags a:active {
	@include background(--button-color);
	@include color(--button-text-color);
}
