/* Block Text Colors */
.has-primary-color {
	color: #22aadd;
}

.has-white-color {
	color: #ffffff;
}

.has-light-gray-color {
	color: #f0f0f0;
}

.has-dark-gray-color {
	color: #777777;
}

.has-black-color {
	color: #404040;
}

/* Block Background Colors */
.has-primary-background-color {
	background-color: #22aadd;
}

.has-white-background-color {
	background-color: #ffffff;
}

.has-light-gray-background-color {
	background-color: #f0f0f0;
}

.has-dark-gray-background-color {
	background-color: #777777;
}

.has-black-background-color {
	background-color: #404040;
}
