/* Group Block */
.wp-block-group.has-background {
	padding: 1.5em;

	> .wp-block-group__inner-container > *:first-child {
		margin-top: 0;
	}

	> .wp-block-group__inner-container > *:last-child {
		margin-bottom: 0;
	}
}

/* Columns Block */
div.wp-block-columns {
	gap: 1.5em;
}

/* Column Block */
.wp-block-column.has-background {
	padding: 1.5em;
	box-sizing: border-box;

	> *:first-child {
		margin-top: 0;
	}

	> *:last-child {
		margin-bottom: 0;
	}
}

/* Latest Posts */
.wp-block-latest-posts.wp-block-latest-posts__list {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	padding: 0;
}

.wp-block-latest-posts.wp-block-latest-posts__list li {
	margin-top: 0.5rem;
}

.wp-block-latest-posts__post-date,
.wp-block-latest-posts__post-author {
	@include color(--light-text-color);
	@include font-size(13);
}

/* Search Block */
.wp-block-search .wp-block-search__label {
	width: auto;
}
