/* Audio */
.wp-block-audio audio {
	width: 100%;
}

/* Separator */
.wp-block-separator {
	height: 4px;
}

.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	max-width: 100px;
}

/* Quote */
.wp-block-quote.is-style-large {
	border: none;
	margin: 0 0 1.5em;
	padding: 0;
	font-size: 28px;
	font-size: 1.75rem;
}

.wp-block-quote.is-style-large p {
	margin-bottom: 0.5em;
	font-size: inherit;
	font-style: inherit;
	line-height: inherit;
}

.wp-block-quote.is-style-large cite {
	text-align: inherit;
}

/* Pullquote */
.wp-block-pullquote {
	margin-bottom: 1.5em;
	padding: 1.5em 0;
    border-bottom: 4px solid #eee;
    border-top: 4px solid #eee;
}

.wp-block-pullquote blockquote {
	border: none;
	margin: 0;
	padding: 0;
	font-size: 28px;
	font-size: 1.75rem;
}

.wp-block-pullquote blockquote p {
	margin-bottom: 0.5em;
}

/* Cover */
.wp-block-cover {
	display: flex;
}

.wp-block-cover-text {
	margin-top: 0;
	margin-bottom: 0;
}

/* Image */
.wp-block-image .alignleft {
    margin-right: 1.5em;
}

.wp-block-image .alignright {
    margin-left: 1.5em;
}

/* Captions */
.blocks-gallery-caption,
.wp-block-embed figcaption,
.wp-block-image figcaption {
	margin-top: 0.3em;
	margin-bottom: 1em;
	font-size: 15px;
	font-size: 0.9375rem;
	color: #777;
    text-align: center;
}

/* Latest Posts */
.wp-block-latest-posts.wp-block-latest-posts__list {
	margin: 0;
	padding: 0;
}

/* Table */
.wp-block-table table {
	table-layout: auto;
}
