/* Block Font Sizes */
.has-small-font-size {
	font-size: 16px;
}

.has-medium-font-size {
	font-size: 24px;
}

.has-large-font-size {
	font-size: 36px;
}

.has-extra-large-font-size {
	font-size: 48px;
}

.has-huge-font-size {
	font-size: 64px;
}
