/* Audio */
.wp-block-audio audio {
	width: 100%;
}

/* Image Block */
.wp-block-image {
	img {
		vertical-align: top;
	}
}

/* Cover Block */
.wp-block-cover,
.wp-block-cover-image {
	width: auto;

	> .wp-block-cover__inner-container > *:first-child {
		margin-top: 0;
	}

	> .wp-block-cover__inner-container > *:last-child {
		margin-bottom: 0;
	}
}

/* Gallery Block */
.wp-block-gallery {
	justify-content: center;
}

/* Video Embed Block */
.wp-block-embed-vimeo.alignfull iframe {
	width: 100%;
}
