/* Breadcrumbs */
.breadcrumbs {
	margin: 0;
	padding: 0.5em 0;
	border-bottom: 1px solid #ddd;
}

.breadcrumbs-container {
	color: #222;
	font-size: 14px;
	font-size: 0.875rem;
}

.breadcrumbs .trail-browse,
.breadcrumbs .trail-items,
.breadcrumbs .trail-items li {
	display: inline;
	margin: 0;
	padding: 0;
}

.breadcrumbs .trail-browse {
	margin-right: 0.5em;
	font-weight: normal;
	font-size: 14px;
	font-size: 0.875rem;
}

.breadcrumbs .trail-items {
	list-style: none;
}

.breadcrumbs .trail-items li::after {
	padding: 0 0.5em;
	content: "\00bb"; /* Raquo */
}

.trail-separator-slash .trail-items li::after {
	content: "\002F";
}

.trail-separator-dash .trail-items li::after {
	content: "\2013";
}

.trail-separator-bull .trail-items li::after {
	content: "\2022";
}

.trail-separator-arrow-bracket .trail-items li::after {
	content: "\003e";
}

.trail-separator-raquo .trail-items li::after {
	content: "\00bb";
}

.trail-separator-single-arrow .trail-items li::after {
	content: "\2192";
}

.trail-separator-double-arrow .trail-items li::after {
	content: "\21D2";
}

.breadcrumbs .trail-items li:last-of-type::after {
	display: none;
}
