/* Widget Bundle */
.tzwb-clearfix::before,
.tzwb-clearfix::after {
	display: table;
	content: " ";
}

.tzwb-clearfix::after {
	clear: both;
}

.tzwb-posts-list li {
	overflow: auto;
	margin-bottom: 0.5em;
	padding: 0;
	list-style: none;
}

.tzwb-posts-list .tzwb-excerpt p {
	margin: 0;
	padding: 0;
}

.tzwb-posts-list .wp-post-image {
	float: left;
	margin: 0.3em 0.8em 1em 0;
	max-width: 90px;
	height: auto;
}

.tzwb-posts-list .tzwb-entry-meta {
	margin: 0.4em 0.2em 0;
	font-size: 12px;
	font-size: 0.75rem;
}

.tzwb-comments-list li {
	overflow: auto;
	margin-bottom: 0.5em;
	list-style: none;
}

.tzwb-comments-list .avatar {
	float: left;
	margin: 0.3em 0.8em 0.8em 0;
}

.tzwb-comments-list .tzwb-comment-content {
	font-style: italic;
}

.tzwb-comments-list .tzwb-comment-date {
	margin: 0.4em 0.2em 0;
	@include color(--light-text-color);
	text-transform: uppercase;
	font-size: 12px;
	font-size: 0.75rem;
}

.tzwb-tabbed-content .tzwb-tabnavi-wrap {
	overflow: auto;
	margin: 0 -0.3em;
	padding: 0;
	list-style: none;
}

.tzwb-tabbed-content .tzwb-tabnavi {
	position: relative;
	float: left;
	width: 100%;
	border-top: 1px solid;
	border-bottom: 1px solid;
	@include border-color(--light-border-color);
	list-style: none;
	list-style-position: outside;
}

.tzwb-tabbed-content .tzwb-tabnavi li {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
}

.tzwb-tabbed-content .tzwb-tabnavi li a {
	display: block;
	margin: 0;
	padding: 0.8em 0.8em 0.5em;
	@include color(--link-hover-color);
	text-decoration: none;
	@include font-size(14);
	@include font-family(--widget-title-font);
	@include font-weight(--widget-title-font-weight);
	@include text-transform(--widget-title-text-transform);
	@include line-height(--title-line-height);
}

.tzwb-tabbed-content .tzwb-tabnavi li a:link,
.tzwb-tabbed-content .tzwb-tabnavi li a:visited {
	@include color(--link-hover-color);
	transition: all 0.2s ease;
}

.tzwb-tabbed-content .tzwb-tabnavi li a:hover,
.tzwb-tabbed-content .tzwb-tabnavi li a:active {
	@include color(--link-color);
	text-decoration: none;
}

.tzwb-tabbed-content .tzwb-tabnavi li a.current-tab {
	@include color(--link-color);
}

.tzwb-tabbed-content .tzwb-tabcontent {
	margin: 1em 0 0 0;
	padding: 0;
}

.tzwb-social-icons .social-icons-menu {
	display: flex;
	flex-flow: row wrap;
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
	line-height: 1;
}

.tzwb-social-icons .social-icons-menu li {
	margin: 0 2px 2px 0;
}

.tzwb-social-icons .social-icons-menu li a {
	display: flex;
	padding: 0.75em;
	@include background(--button-color);
	@include color(--button-text-color);
}

.tzwb-social-icons .social-icons-menu li a:hover {
	@include background(--button-hover-color);
	@include color(--button-hover-text-color);
	text-decoration: none;
}

.tzwb-social-icons .social-icons-menu .icon {
	margin: 0;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	fill: currentColor;
}
