.footer-wrap {
	border-top: 1px solid;
	@include border-color(--page-border-color);
	@include background(--footer-background-color);
}

.site-footer {
	font-size: 14px;
	font-size: 0.875rem;
}

.site-footer .site-info {
	float: left;
	padding: 2em 0;
}
