.site-header {
	border-bottom: 1px solid;
	@include border-color(--page-border-color);
	@include background(--header-background-color);
}

.header-main {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.site-branding {
	float: left;
	margin: 1em 0;
	padding: 0;
	max-width: 100%;
}

.site-branding a:link,
.site-branding a:visited,
.site-branding a:hover {
	padding: 0;
	border: none;
	text-decoration: none;
}

.site-title {
	display: inline-block;
	margin: 0;
	padding: 0;
	@include color(--site-title-color);
	text-decoration: none;
	@include font-size(38);
	@include font-family(--title-font);
	@include font-weight(--title-font-weight);
	@include text-transform(--title-text-transform);
	@include line-height(--title-line-height);
}

.site-title a:link,
.site-title a:visited {
	@include color(--site-title-color);
	transition: all 0.2s ease;
}

.site-title a:hover,
.site-title a:active {
	@include color(--site-title-hover-color);
}

.site-branding .custom-logo {
	margin: 0.3em 1em 0 0;
	padding: 0;
	max-width: 100%;
	height: auto;
	border: none;
	vertical-align: top;
}

.site-description {
	margin: -0.2em 0 0.6em;
	font-size: 14px;
	font-size: 0.875rem;
}

/* Custom Header Image */
.header-image {
	margin-top: -1px;
	text-align: center;
}

.header-image img {
	margin: 0 auto;
	max-width: 100%;
	max-height: 480px;
	width: auto;
	height: auto;
	vertical-align: top;
}
