@media only screen and (min-width: 640px) {
	.wp-block-group.has-background {
		padding: 1.75rem;
	}
}

/* Columns Block */
@media only screen and (min-width: 782px) {
	.wp-block-column:not(:first-child) {
		margin-left: 1.75rem;
	}
}

@media only screen and (min-width: 960px) {
	.wp-block-group.has-background {
		padding: 2rem;
	}

	.wp-block-column:not(:first-child) {
		margin-left: 2rem;
	}
}

@media only screen and (min-width: 1280px) {
	.wp-block-group.has-background {
		padding: 2.5rem;
	}

	.wp-block-column:not(:first-child) {
		margin-left: 2.5rem;
	}
}
