.clearfix:before,
.clearfix:after,
.post-navigation .nav-links:before,
.post-navigation .nav-links:after,
.comment-navigation:before,
.comment-navigation:after {
	display: table;
	content: "";
}

.clearfix:after,
.post-navigation .nav-links:after,
.comment-navigation:after {
	clear: both;
}
