html {
	box-sizing: border-box;
}

/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background: #fff; /* Fallback for when there is no custom background color defined. */
}

blockquote::before,
blockquote::after,
q::before,
q::after {
	content: "";
}

blockquote,
q {
	quotes: none;
}

blockquote {
	margin: 1.5em 0;
	padding-left: 1.5em;
	border-left: 4px solid;
	@include border-color(--light-border-color);
	@include color(--medium-text-color);
	font-style: normal;
	@include font-size(19);
}

blockquote cite,
blockquote small {
	display: block;
	margin-top: 1em;
	@include color(--text-color);
	@include font-size(16);
	line-height: 1.75;
}

blockquote cite::before,
blockquote small::before {
	content: "\2014\00a0";
}

blockquote em,
blockquote i,
blockquote cite {
	font-style: normal;
}

blockquote > :last-child {
	margin-bottom: 0.5em;
}

hr {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	height: 1px;
	border: 0;
	@include background(--light-border-color);
}

ul,
ol {
	margin: 1.5em 0;
	padding: 0 0 0 1.25em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.25em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 0 1.5em;
}

img {
	max-width: 100%; /* Adhere to container width. */
	height: auto; /* Make sure images are scaled correctly. */
}

table {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	width: 100%;
	border: none;
	table-layout: auto;
}

th,
td {
	padding: 0.3em 0.6em;
	border: 1px solid;
	@include border-color(--light-border-color);
}

th {
	font-weight: normal;
	text-align: initial;
	background: rgba(0, 0, 0, 0.05);
}

tfoot td {
	background: rgba(0, 0, 0, 0.05);
}

a {
	@include color(--link-color);
	text-decoration: none;
}

a:link,
a:visited {
	@include color(--link-color);
}

a:hover,
a:focus,
a:active {
	@include color(--link-hover-color);
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}
