button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	padding: 0.4em 0.8em;
	border: none;
	@include background(--button-color);
	@include color(--button-text-color);
	text-decoration: none;
	@include font-size(13);
	@include font-family(--widget-title-font);
	@include font-weight(--widget-title-font-weight);
	@include text-transform(--widget-title-text-transform);
	transition: all 0.2s ease;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	@include background(--button-hover-color);
	@include color(--button-hover-text-color);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	padding: 0.3em 0.6em;
	max-width: 100%;
	border: 1px solid;
	@include border-color(--light-border-color);
	@include color(--medium-text-color);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	border: 1px solid;
	@include border-color(--medium-border-color);
	@include color(--text-color);
}

textarea {
	width: 100%;
}

/* Search Form */
.search-form {
	display: flex;
	margin: 0;
	padding: 0;
}

.search-form label {
	flex-grow: 1;
}

.search-form .search-field {
	display: inline-block;
	box-sizing: border-box;
	margin: 0;
	padding: 0.65rem 0.7rem;
	min-width: 100px;
	width: 100%;
	-webkit-appearance: none;
	appearance: none;
	line-height: 1;
}

.search-form .search-submit {
	display: flex;
	margin-left: -1px;
	padding: 0.65rem 0.7rem;
	align-items: center;
}

.search-form .search-submit .icon-search {
	width: 20px;
	height: 20px;
	fill: currentColor;
}
