/* Archives and Search Heading */
.page-header {
	margin: 0 0 1.5em 0;
}

.page-header .archive-title {
	display: inline-block;
	margin: 0;
	padding: 0;
	border-bottom: 4px solid #eee;
	color: #404040;
	@include font-size(18);
	@include font-family(--widget-title-font);
	@include font-weight(--widget-title-font-weight);
	@include text-transform(--widget-title-text-transform);
	@include line-height(--title-line-height);
}

.blog-description,
.archive-description p {
	margin-bottom: 0;
}
