/* Infinite Scroll Pagination */
.infinite-scroll .pagination {
	display: none;
}

.infinite-scroll #infinite-handle span {
	display: inline-block;
	margin: 0 0 3em;
	padding: 0;
	background: none;
	color: #22aadd;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	font-size: 0.875rem;
	font-family: 'Raleway', Tahoma, Arial;
	transition: all 0.2s ease;
}

.infinite-scroll #infinite-handle span:hover {
	color: #404040;
}
