/* Theme Pagination */
.pagination {
	display: inline-block;
	margin: 0 0 3em;
	border-top: 4px solid;
	@include border-color(--widget-title-border-color);
}

.pagination a,
.pagination .current {
	display: inline-block;
	margin: 0;
	padding: 0.5em 0.9em;
	text-align: center;
	text-decoration: none;
	@include font-size(16);
	@include font-family(--widget-title-font);
	@include font-weight(--widget-title-font-weight);
	@include text-transform(--widget-title-text-transform);
}

.pagination a:link,
.pagination a:visited {
	transition: all 0.2s ease;
}
