
.widget-magazine-posts {
	margin-bottom: -1em;
}

.widget-magazine-posts .type-post {
	margin: 0 0 2em 0;
	padding: 0;
	border: none;
	background: none;
}

.widget-magazine-posts .type-post .wp-post-image {
	margin: 0 0 0.5em;
	max-width: 100%;
}

.widget-magazine-posts .type-post .entry-content {
	font-size: 16px;
	font-size: 1rem;
}

.widget-magazine-posts .type-post .entry-content p {
	margin: 1em 0 0;
}

.widget-magazine-posts .type-post .more-link {
	margin: 1em 0 0;
}

.widget-magazine-posts .large-post .entry-title {
	font-size: 24px;
	font-size: 1.5rem;
}

.widget-magazine-posts .medium-post {
	display: block;
	float: left;
	box-sizing: border-box;
	padding-right: 2em;
	width: 33.33333333%;
}

.widget-magazine-posts .medium-post .entry-title {
	font-size: 16px;
	font-size: 1rem;
}

.widget-magazine-posts .small-post {
	display: block;
	float: left;
	box-sizing: border-box;
	width: 100%;
}

.widget-magazine-posts .small-post .wp-post-image {
	float: left;
	margin: 0 1em 0 0;
	max-width: 40%;
}

.widget-magazine-posts .small-post .entry-title {
	font-size: 15px;
	font-size: 0.9375rem;
}

.widget-magazine-posts .medium-post .entry-meta,
.widget-magazine-posts .small-post .entry-meta {
	font-size: 12px;
	font-size: 0.75rem;
}

/* Magazine Posts Horizontal Box Widget */
.widget-magazine-posts .magazine-horizontal-box .large-post .wp-post-image {
	float: left;
	box-sizing: border-box;
	margin: 0;
	padding-right: 1em;
	width: 50%;
}

.widget-magazine-posts .magazine-horizontal-box .large-post .post-content {
	float: right;
	box-sizing: border-box;
	padding-left: 1em;
	width: 50%;
}

.widget-magazine-posts .magazine-horizontal-box .medium-posts {
	margin-right: -2em;
}

/* Magazine Posts Vertical Box Widget */
.widget-magazine-posts .magazine-vertical-box .large-post {
	float: left;
	box-sizing: border-box;
	margin-bottom: 1em;
	padding-right: 1em;
	width: 50%;
}

.widget-magazine-posts .magazine-vertical-box .small-posts {
	box-sizing: border-box;
	margin-left: 50%;
	padding-left: 1em;
	width: 50%;
}

/* Magazine Posts Grid Widget */
.widget-magazine-posts .magazine-grid {
	margin-right: -2em;
}

.widget-magazine-posts .magazine-grid .large-post {
	float: left;
	box-sizing: border-box;
	padding-right: 2em;
	width: 50%;
}

.widget-magazine-posts .magazine-grid .post-column:nth-child(2n+1) .large-post,
.widget-magazine-posts .magazine-grid .post-column:nth-child(3n+1) .medium-post {
	clear: left;
}

/* Magazine Posts Columns Widget */
.poseidon-magazine-posts-columns {
	padding: 0;
}

.widget-magazine-posts-columns .magazine-posts-columns .magazine-posts-columns-content .magazine-posts-columns-post-list {
	float: left;
	box-sizing: border-box;
	width: 100%;
}

.widget-magazine-posts-columns .magazine-posts-columns .magazine-posts-columns-content {
	float: left;
	width: 100%;
}

.widget-magazine-posts-columns .magazine-posts-column-left {
	float: left;
	box-sizing: border-box;
	padding-right: 1em;
	width: 50%;
}

.widget-magazine-posts-columns .magazine-posts-column-right {
	box-sizing: border-box;
	margin-left: 50%;
	padding-left: 1em;
	width: 50%;
}

.widget-magazine-posts-columns .medium-post {
	padding-right: 0;
	width: 100%;
}
