.social-icons-menu {
	margin: 0;
	padding: 0;
	list-style-position: outside;
	list-style-type: none;
	line-height: 1;
}

.social-icons-menu li {
	float: left;
	margin: 0;
	padding: 0;
}

.social-icons-menu li a {
	position: relative;
	display: inline-block;
	padding: 0.5em;
	text-decoration: none;
	color: #fff;
}

.social-icons-menu li a .screen-reader-text {
	display: none;
}

/* Add Genericons */
.social-icons-menu li a::before {
	display: inline-block;
	vertical-align: top;
	text-decoration: inherit;
	font-size: 16px;
	font-family: 'Genericons';
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.social-icons-menu li a::before { content: '\f408'; } /* Default Icon */
.social-icons-menu li a[href*="codepen.io"]::before  { content: '\f216'; }
.social-icons-menu li a[href*="digg.com"]::before { content: '\f221'; }
.social-icons-menu li a[href*="dribbble.com"]::before { content: '\f201'; }
.social-icons-menu li a[href*="facebook.com"]::before { content: '\f204'; }
.social-icons-menu li a[href*="flickr.com"]::before { content: '\f211'; }
.social-icons-menu li a[href*="plus.google.com"]::before { content: '\f218'; }
.social-icons-menu li a[href*="github.com"]::before { content: '\f200'; }
.social-icons-menu li a[href*="instagram.com"]::before { content: '\f215'; }
.social-icons-menu li a[href*="linkedin.com"]::before { content: '\f207'; }
.social-icons-menu li a[href*="pinterest.com"]::before { content: '\f209'; }
.social-icons-menu li a[href*="polldaddy.com"]::before { content: '\f217'; }
.social-icons-menu li a[href*="getpocket.com"]::before { content: '\f224'; }
.social-icons-menu li a[href*="reddit.com"]::before { content: '\f222'; }
.social-icons-menu li a[href*="spotify.com"]::before { content: '\f515'; }
.social-icons-menu li a[href*="skype.com"]::before,
.social-icons-menu li a[href*="skype:"]::before { content: '\f220'; }
.social-icons-menu li a[href*="stumbleupon.com"]::before { content: '\f223'; }
.social-icons-menu li a[href*="tumblr.com"]::before { content: '\f214'; }
.social-icons-menu li a[href*="twitch.tv"]::before { content: '\f516'; }
.social-icons-menu li a[href*="twitter.com"]::before { content: '\f202'; }
.social-icons-menu li a[href*="vimeo.com"]::before  { content: '\f212'; }
.social-icons-menu li a[href*="wordpress.org"]::before { content: '\f205'; }
.social-icons-menu li a[href*="wordpress.com"]::before { content: '\f205'; }
.social-icons-menu li a[href*="youtube.com"]::before { content: '\f213'; }
.social-icons-menu li a[href*="newsletter"]::before,
.social-icons-menu li a[href*="mailto"]::before { content: '\f410'; }
.social-icons-menu li a[href*="/feed"]::before,
.social-icons-menu li a[href*="/feed/"]::before,
.social-icons-menu li a[href*="?feed=rss2"]::before,
.social-icons-menu li a[href*="feedburner.google.com"]::before,
.social-icons-menu li a[href*="feedburner.com"]::before { content: '\f413'; }
