/* Sidebar Left Layout */
@media only screen and (min-width: 55em) {
	.sidebar-left .content-area {
		float: right;
		padding-right: 0;
		padding-left: 4em;
	}

	.sidebar-left .sidebar {
		float: left;
	}
}

/* Sticky Header */
.sticky-header .site-header {
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
}

.sticky-header.admin-bar .site-header {
	top: 32px;
}

.sticky-header .header-bar-wrap {
	display: none;
}

/* Small Header */
.sticky-header.small-header .site-header .site-branding,
.sticky-header.small-header .primary-navigation,
.sticky-header.small-header .primary-menu-toggle {
	margin-top: 0;
	margin-bottom: 0;
	transition: all 0.4s ease;
}

.sticky-header.small-header .site-header .site-branding .site-title {
	margin: 0;
	font-size: 28px;
	font-size: 1.75rem;
}

.sticky-header.small-header .site-header .site-branding .custom-logo {
	margin-top: 1em;
	max-height: 25px;
	width: auto;
}

.sticky-header.small-header .site-header .site-description {
	display: none;
}

@media only screen and (max-width: 60em) {
	.sticky-header.small-header .primary-navigation {
		max-height: 60vh;
		overflow-y: auto;
	}

	.sticky-header.small-header .main-navigation > ul {
		margin-top: 1em;
	}
}

@media only screen and (max-width: 782px) {
	.sticky-header.admin-bar .site-header {
		top: 46px;
	}
}

@media only screen and (max-width: 600px) {
	.sticky-header.admin-bar.small-header .site-header {
		top: 0;
	}
}

/* Customizer Preview */
.customize-partial-edit-shortcut-poseidon_theme_options-excerpt_more {
	left: -9999px;
}
