.widget {
	margin: 0 0 3em 0;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.widget-header {
	margin: 0 0 1.5em 0;
}

.widget-title {
	display: inline-block;
	margin: 0;
	padding: 0;
	border-bottom: 4px solid;
	@include border-color(--widget-title-border-color);
	@include color(--widget-title-color);
	@include font-size(18);
	@include font-family(--widget-title-font);
	@include font-weight(--widget-title-font-weight);
	@include text-transform(--widget-title-text-transform);
	@include line-height(--title-line-height);
}

.widget ul {
	margin: 0;
	padding: 0 0.3em;
	list-style: circle inside;
}

.widget ul .children,
.widget ul .sub-menu {
	margin: 0.5em 0 0.5em 1em;
	padding: 0;
}

.widget-title a:link,
.widget-title a:visited {
	@include color(--widget-title-color);
	transition: all 0.2s ease;
}

.widget-title a:hover,
.widget-title a:active {
	@include color(--widget-title-hover-color);
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

/* Tagcloud Widget */
.widget_tag_cloud .tagcloud {
	font-size: 14px;
	font-size: 0.875rem;
}

.widget_tag_cloud .tagcloud::before,
.widget_tag_cloud .tagcloud::after {
	display: table;
	content: "";
}

.widget_tag_cloud .tagcloud::after {
	clear: both;
}

.widget_tag_cloud .tagcloud a {
	display: inline-block;
	float: left;
	margin: 0 2px 2px 0;
	padding: 0.2em 0.5em 0.3em;
	@include background(--light-background-color);
	text-decoration: none;
	font-size: 16px !important;
	font-size: 1rem !important;
}

.widget_tag_cloud .tagcloud a:link,
.widget_tag_cloud .tagcloud a:visited {
	@include color(--medium-text-color);
	transition: all 0.2s ease;
}

.widget_tag_cloud .tagcloud a:hover,
.widget_tag_cloud .tagcloud a:active {
	@include background(--button-color);
	@include color(--button-text-color);
}
